* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    background: #252525;
    justify-content: center;
}

main {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 12px 0;
}

ul {
    list-style: none;
    padding-bottom: 12px;
    color: #fff;
    padding-left: 12px;
    overflow: auto;
}

input:focus {
    outline: none;
}



input {
    padding: 8px;
    border-radius: 8px;
    background: #6987b8;
    border: none;
}

#email,
#password {
    width: 50%;
    margin-bottom: 12px;
}

.btn {
    background-color: #1f2a3b;
    border: none;
}

.navbar {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 100vw;
    align-items: flex-start;
    margin-top: 0;
    top: 0;
}