* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    background: #252525;
    justify-content: center;
}

main {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 12px 0;
}

ul {
    list-style: none;
    padding-bottom: 12px;
    color: #fff;
    padding-left: 12px;
    overflow: auto;
}

input:focus {
    outline: none;
}



input {
    padding: 8px;
    border-radius: 8px;
    background: #df6da4;
    border: none;
}